<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!--    <Properties>
        <Property name="log-path">${sys:ApplicationPath}</Property>
    </Properties>-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="HTMLAppender" fileName="${sys:catalina.base}/logs/servicelog.html">   
            <HTMLLayout charset="UTF-8" title="Service Installation Log">
            </HTMLLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" />
            <AppenderRef ref="HTMLAppender"/>
        </Root>
    </Loggers>
</Configuration>