/OpenZooService/nbproject/private/
/OpenZooService/build/
/OpenZooService/dist/
/OpenZooTemplateService/nbproject/private/
/OpenZooTemplateService/dist/
/OpenZooTemplateService/build/
/TwitterCrawler/nbproject/private/
/URLValidator/nbproject/private/
/DatabaseManager/nbproject/private/
/TwitterCrawler/build/
/TwitterCrawler/dist/
/URLValidator/dist/
/URLValidator/build/
/DatabaseManager/dist/
/DatabaseManager/build/
/OpenZUI/nbproject/private/
/OpenZUI/build/
/OpenZUI/dist/
/ServerStatistics/nbproject/private/
/ServerStatistics/build/
/ServerStatistics/dist/
/ContentDownloader/nbproject/private/
/ContentDownloader/dist/
/ContentDownloader/build/