        <aside id="sidebar">
          <a href="http://OpenZoo.org/index.html" style="font-size: 16px;">
            <i class="fa fa-map-signs fa-2x fa-fw"></i>
            Overview
          </a>
          <hr>
          <a href="http://OpenZoo.org/api" style="font-size: 16px;">
            <i class="fa fa-object-ungroup fa-2x fa-fw"></i>
            How it works
          </a>
          <hr>
          <a href="http://OpenZoo.org/install" style="font-size: 16px;">
            <i class="fa fa-wrench fa-2x fa-fw"></i>
            Installation
          </a>
          <hr>
          <a href="http://OpenZoo.org/demo" style="font-size: 16px;">
            <i class="fa fa-cogs fa-2x fa-fw"></i>
            Example topology
          </a>
          <hr>
          <a href="http://OpenZoo.org/future" style="font-size: 16px;">
            <i class="fa fa-lightbulb-o fa-2x fa-fw"></i>
            Future work
          </a>
          <hr>
          <a href="http://OpenZoo.org/authors" style="font-size: 16px;">
            <i class="fa fa-users fa-2x fa-fw"></i>
            Authors
          </a>
          <hr>
          <a href="https://github.com/VisualComputingLab/OpenZoo/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/VisualComputingLab/OpenZoo/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>
        </aside>
