<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <description>Requires user to log in as a member</description>
        <filter-name>MemberLoginFilter</filter-name>
        <filter-class>gr.iti.openzoo.ui.MemberLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MemberLoginFilter</filter-name>
        <url-pattern>/Main</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberLoginFilter</filter-name>
        <url-pattern>/Servers</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberLoginFilter</filter-name>
        <url-pattern>/Repository</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberLoginFilter</filter-name>
        <url-pattern>/DrawTopology</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberLoginFilter</filter-name>
        <url-pattern>/ProcessTopology</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>401</error-code>
        <location>/denied.jsp</location>
    </error-page>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gr.iti.openzoo.ui.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servers</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.ServersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Repository</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.RepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Topologies</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.TopologiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrawTopology</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.DrawTopologyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTopology</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.ProcessTopologyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeyValueServlet</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.KeyValueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceLogServlet</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.servlets.ServiceLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/AuthorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servers</servlet-name>
        <url-pattern>/Servers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Repository</servlet-name>
        <url-pattern>/Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Topologies</servlet-name>
        <url-pattern>/Topologies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrawTopology</servlet-name>
        <url-pattern>/DrawTopology</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTopology</servlet-name>
        <url-pattern>/ProcessTopology</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeyValueServlet</servlet-name>
        <url-pattern>/KeyValueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceLogServlet</servlet-name>
        <url-pattern>/ServiceLog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
