<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servers</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.Servers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Repository</servlet-name>
        <servlet-class>gr.iti.openzoo.ui.Repository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servers</servlet-name>
        <url-pattern>/Servers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Repository</servlet-name>
        <url-pattern>/Repository</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
